:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  touch-action: manipulation;
  color-scheme: dark;
  color: #fff;
  background-color: #121213;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100%;
  max-width: 1980px;
  min-height: 100%;
  justify-content: stretch;
  align-items: stretch;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  padding: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3A3A3C;
  cursor: pointer;
  transition: border-color 0.25s;
}

#app {
  height: inherit;
  width: inherit;
}

